@mixin card-color($color) {

    i {
        color: $color;
    }

    border-top: 9px solid $color;
}

.yellow-card {
    @include card-color($yellow);
}

.lightBlue-card {
    @include card-color($lightblue);
}

.green-card {
    @include card-color($green);
}

.services {
    background: $white;
    width: 100%;
    max-width: 1100px;
    margin: 65px auto;

    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        // animation: anim-initial-top .8s forwards ease-in-out;

        .card {
            background: $white;
            max-width: 320px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            padding: 20px 25px;
            border-radius: 5px;
            margin: -60px 0 50px 0;
            transition: all .3s ease;

            &:hover {
                transform: translateY(-15px);
            }

            i {
                font-size: 4rem;
                padding-bottom: 12px;
            }

            h2 {
                font-size: 1.8rem;
                font-weight: 500;
            }

            p {
                padding: 12px 0;
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
        }
    }
}