.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;

    .menu {
        position: absolute;
        left: 0;
        z-index: 900;
        width: 100%;
        bottom: 0;

        label {
            cursor: pointer;
            display: inline-block;
            width: 14px;
            height: 14px;
            background: #fff;
            border-radius: 50px;
            margin: 0 0.2em 1em;
            transition: all .2s;

            &:hover,
            &:focus {
                background: $lightblue;
            }
        }
    }

    input {
        visibility: hidden;
    }

    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 10;
        padding: 8em 1em 0;
        background-size: cover;
        background-position: 50% 50%;
        transition: left 0s 0.75s;
    }

    [id^="slide"]:checked + .slide {
        left: 0;
        z-index: 100;
        transition: left 0.65s ease-out;
    }

    .slide-1 {
        background-image: url("../images/fotoClinica.jpg");
    }

    .slide-2 {
        background-image: url("../images/logo.jpeg");
    }

    .slide-3 {
        background-image: url("../images/fotoClinica02.jpg");
    }
}
