@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$blue: #0798f2;
$lightblue: #07b0f2;
$green: #6fa677;
$yellow: #f2d338;
$lightgray: #f5f5f5;
$white: #fafafa;
$font: "Montserrat", Arial, Helvetica, sans-serif;
$blueGradient: linear-gradient(87.12deg, #0798f2 2.63%, #2bc3ff 100%);

@import "home";
@import "header";
@import "mobile";
@import "services";
@import "about";
@import "slider";
@import "contact";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: $font;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: $white;
  height: 100vh;
  font-family: $font;
}

.reveal {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.480), rgba(0, 0, 0, 0.480)), url("../images/fotoClinica.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.main-title {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    font-weight: 500;
    font-size: 4.3rem;
  }

  span {
    margin-top: 5px;
    background: $lightblue;
    height: 4px;
    width: 5%;
  }
}

/* CONFIG SCROLLBAR */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}
